table{
  width: 800px;
  border:1px solid black;
}
th, td, tr {
  border:1px solid black;
  border-color: black #E6E0DB #E6E0DB black;
  height: 25px;
  width: 50px;
  padding: 2px;
}
#time {
  text-align: right;
}
