table{
  width: 800px;
  border:1px solid black;
  border-color: #BFBABA;
}
th, td, tr {
  border:1px solid black;
  border-color: black #BFBABA #BFBABA black;
  height: 25px;
  width: 50px;
  padding: 2px;
}
#time {
  text-align: right;
}
